@import '../../variables';

.todo-list__row {
  display: flex;
  padding: .5rem 0;
}

.check-block {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 20px 0 0;

  &__element {
    box-sizing: border-box;
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    padding: 1px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: #000;
      opacity: 0;
      transition: opacity 300ms linear;

      .todo-list__row_finished & {
        opacity: 1;
      }
    }
  }
}

.row-name {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  min-width: 0;

  &__text {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      border-top: 1px solid;
      width: 0;
      transition: width 300ms linear;
    }

    .todo-list__row_finished & {
      color: $shadow-col;

      &:before {
        width: 100%;
      }
    }
  }
}
